aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.5
asn1crypto==0.24.0
Babel==2.7.0
CacheControl==0.11.7
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
configparser==4.0.2
cryptography==2.7
dnspython==1.16.0
idna==2.7
jsonpickle==0.7.1
lxml==4.4.1
multidict==4.5.2
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.0.0
python-dateutil==2.5.3
pytz==2019.2
requests==2.20.0
six==1.11.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
speedtest-cli==2.1.1
tzlocal==1.5.1
urllib3==1.24.3
