appdirs==1.4.4
astroid==2.5.6
autopep8==1.5.4
CacheControl==0.11.7
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
dateutils==0.6.12
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
Flask==2.0.0
Flask-API==2.0
Flask-SQLAlchemy==2.4.4
-e git+https://github.com/flowroute/flowroute-sdk-v3-python.git@5d3b75f2523e2b366a5e164af83120ebddb1077a#egg=flowroutenumbersandmessaging
greenlet==1.1.0
http-ece==1.1.0
idna==2.10
isort==5.6.4
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jsonpickle==0.7.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
parso==0.7.1
pluggy==0.13.1
py-vapid==1.7.1
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.8.2
PyMySQL==1.0.2
python-dateutil==2.5.3
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.1
pywebpush==1.11.0
requests==2.25.1
rope==0.19.0
six==1.16.0
snowballstemmer==2.0.0
SQLAlchemy==1.4.15
toml==0.10.2
ujson==4.0.2
urllib3==1.26.5
virtualenv==20.4.6
waitress==1.4.4
Werkzeug==2.0.1
wrapt==1.12.1
yapf==0.30.0
