  </div>
<div id='footer'>
    <div class='footlinks'><a href='/'>Index</a>
    {% if loggedin == True %}
         | Messages | <a href='/settings'>Settings</a> | <a href="/google/logout">Logout</a></div>
    {% else %}
    | <a href="/launch">Login</a></div>
    {% endif %}
    <div class='footlinks'><a href ='/about'>About</a> | <a href='/tos'>Terms of Service</a> | <a href="/pp">Privacy Policy</a></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script src="{{ url_for('static',filename='main.js') }}"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#64386b",
      "text": "#ffcdfd"
    },
    "button": {
      "background": "#f8a8ff",
      "text": "#3f0045"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "This website uses cookies to manage your private information and help secure data.",
    "href": "thewords.faith/pp"
  }
});
</script>
</body>
</html>
