<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#1d2f2e">
    <meta name="apple-mobile-web-app-title" content="TheWords SMS App">
    <meta name="application-name" content="TheWords SMS App">
    <meta name="msapplication-TileColor" content="#1d2f2e">
    <meta name="theme-color" content="#ff0000">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
