<div id='matrix-info'>
  <h1>Using our Public Matrix Server</h1>
  <p><a href="https://matrix.org">Matrix</a> is an open, decentralized communications protocol that allows you to communicate with any other srever that usees the matrix protocol.</p>
  <h2>Official Client &#64; <a href="https://app.thewords.faith">app.thewords.faith</a>.</h2>
  <p>You can connect to the matrix home server with any standard matrix client by setting your homeserver to <a href="https://thewords.faith">thewords.faith</a>. <a href="https://thewords.faith">TheWords.faith</a> matrix server should support email verification as well as VoIP and Video calls. Signups are open at the moment.</p>
  <p>Any Matrix compattable client will work. If you woulda like to try another web client check out, <a href="https://app.element.io/#/welcome">Element Web</a>,
     <a href="https://app.schildi.chat/">Schildi Chat Web</a>, <a href="https://app.cinny.in/">Cinny</a> or my favorite <a href="https://fluffychat.im/web/#/home">fluffychat.im</a>. For native apps I suggest
    <a href="https://schildi.chat/">SchildiChat</a> for your phone or desktop.
    Or my favorite for smaller screens, <a href="https://fluffychat.im/en/">fluffychat.im</a> for android/ios.</p>
    <p>For a list of all the clients available check out <a href="https://matrix.org/docs/projects/try-matrix-now/">matrix clients</a>.</p>
</div>
