<!DOCTYPE html>
<html>
<head>
    {% include 'include/header.html' %}
    <title> TheWords.faith About Us</title>
    <script type="text/javascript">
    $("document").ready(function() {
           
      });
    </script>
</head>
<body>
<div>
    <h1>Thewords.faith Is a Communications Company Centering on Privacy</h1>
    <p>We strive to provide another layer of Privacy to our Privacy conscious clients. TheWords.faith allows you to buy
    a dedicated private phone number for a small monthly fee and send a personal amount of texts.</p>
    <p>Our messages are stored temporaily on a virtual machine. Data is not retained after 30 days unless specified manually.</p>
</div>
    {% include 'include/footer.html' %}
</body>
</html>