body {
    background-color: #CDB4DB;
    color: #000;
}
/************
 * 1D2F2E
 * ACF39D
 * B0C592
 * A97C73
 * AF3E4D
 ************/

a {color: #138;}
a:visited {color: #238;}
a:hover, a:active {color: #34;}
a:disabled {color: #9BB291;}


.ts {
    font-size: 1em;
}

.inbound {
  background-color: #FFC8DD;
  color: #000;
}

.outbound {
  background-color: #FFAFCC;
}

.to,.from {
    font-size: 2em;
    color: #000;
}

.smschatlog {
    border:dashed;
    border-color: #A97C73;
    padding: 10px;
    margin: 10px;
}

#chat-input {
    border: dotted;
    border-color: #AF3E4D;
    padding: 1em;

}

#chat-director {
    padding: 5px;
}
#chat-fields {
    padding: 5px 0px 5px 0px;
}
#footer {
    border-top: double;
    padding: 20px 5px 10px 5px;
}
.footlinks {
    text-align: center;
}
#right-side {
    float: right;
    text-align: right;
}
.smsbody {
    font-size:2em;
    color: #000;
}
#bodypane {
  float: left;
  width: 80%;
  background-color: #CDB4DB;
}
#footer {
  align-content: center;
  float:left;
  width: 100%;
}
#navblock {
  background-color: #CDB4DB;
  width: 15%;
  float: left;
  margin:5px 10px 20px 20px;
  padding: 5px 5px 5px 5px;
}
.navitemsmall {
  font-size: 1em;
}
.navitem {
  font-size: 1.4em;
}
.navitemborder {
    border-bottom: solid;
}
