{% include 'include/header.html' %}
<title>About Thewords.faith</title>
<script type="text/javascript">
  $("document").ready(function() {

  });
</script>
</head>

<body>
  <h1>About TheWords!</h1>
  <div id='about'>
    <p>We're all about getting thewords out and allowing us to communicate securely to friends and loved ones.</p>
    <p>This site is still under active development and subject to change. For those who are interested in helping
      with development or testing hit me up on my <a href='https://github.com/hailey/sms-proj'>GitHub sms-proj Page</a>.</p>
    <p>We aim to take bitcoin and other crypto currencies to allow people to use SMS at home on their computer or on the go as
      a backup on their phone or tablet.</p>
  </div>
  <div id='advert'>
    <p>We are still looking for testers or developers so, if you're interested and don't mind a work
      in progress, then maybe you can help out by sending an email to submit at athnex dot com. Or better yet, message me on our
      <a href='https://github.com/hailey/sms-proj'>GitHub</a>. This is a side project of mine so development will be slow
      for as long as its only me. Thanks for your interest!</p>
  </div>
  {% include 'include/footer.html' %}
</body>

</html>
