{% include 'include/header.html' %}
    <title> 503 Denied   </title>
    <script type="text/javascript">
    $("document").ready(function() {

      });
    </script>
</head>
<body>
<h1>Application error!</h1>
<h2>{{ denymsg }}</h2>
<p>Please retry again later, or do something different. Then if it still does not work, contact support. Use the <a href='https://github.com/hailey/sms-proj'>github at https://github.com/hailey/sms-proj</a></p>
    {% include 'include/footer.html' %}
</body>
</html>
