{% include 'include/header.html' %}
<title>TheWords.faith Home Page</title>
<script type="text/javascript">
$("document").ready(function() {

  });
</script>
</head>
<body>
<h1>TheWords.faith Home Page</h1>
<img src='static/thewords.faith-favico-v1.2.png' alt='TheWords.Faith Alpha Logo' />
<div id='indexabout'>
  <p>TheWords.faith is a communications site and eventually XMPP server.</p>
  <p>Right now we are not even in beta, and the service isn't ready for the world yet.
    At least until we get some more testers.</p>
  <p>This site, in the end, will allow users to send text messages to the US for a low monthly fee.
    This allows businesses or end users who want privacy minded or a business sms number that
    allows you to stay in touch with your customers by providing SMS and eventually MMS support.</p>
</div>
<div id='advert'>
  <p>We are still looking for testers or developers so, if you're interested and don't mind a work
    in progress, then maybe you can help out by sending an email to submit at athnex dot com. Or better yet, message me on our
  <a href='https://github.com/hailey/sms-proj'>GitHub</a>. This is a side project of mine so development will be slow
  for as long as its only me. Thanks for your interest!</p>
</div>
<p>Please login at <a href='/launch'>The Login Page</a></p>
{% include 'include/footer.html' %}
