{% include 'include/header.html' %}
<title>TheWords.faith Home Page</title>
<script type="text/javascript">
$("document").ready(function() {

  });
</script>
</head>
<body>
<h1>TheWords.faith Home Page</h1>
<div id='indexabout'>
  <p>TheWords.faith is a communications site and eventually XMPP server.</p>
  <p>Right now we are not even in beta, and the service isn't ready for the world yet.
    At least until we get some more testers.</p>
  <p>This site, in the end, will allow users to send text messages to the US for a low monthly fee.
    This allows businesses or end users who want privacy or a business sms number
    to do just that, send and receive messages.</p>
</div>
<div id='advert'>
  <p>We are still looking for testers so, if you're interested and don't mind a work
    in progress, then maybe you can help out by sending an email to submit at athnex dot com.</p>
</div>
<p>Please login at <a href='/launch'>The Login Page</a></p>
{% include 'include/footer.html' %}
