<!DOCTYPE html>
<html>
<head>
    {% include 'include/header.html' %}
    <title> Yeah! </title>
    <script type="text/javascript">
    $("document").ready(function() {
           
      });
    </script>
</head>
<body>
<div>
    <h1>Thewords.faith Privacy Policy</h1>
    <p>No one except me and Leo get to use this.</p>
    <p>That being said, I wont give up anything without a warrant and I don't log anything that doesn't help me debug.</p>
    <p>Thats why this system is hosted in italy. Happy texting!</p>
</div>
    {% include 'include/footer.html' %}
</body>
</html>