{% include 'include/header.html' %}
    <title> {{ name }}'s Settings </title>
    <script type="text/javascript">
    $("document").ready(function() {

      });
    </script>
</head>
<body>
<h1>Settings for {{ name }}!</h1>

<div id='body'>
    <div id='accountInfoBlock'>
        <div class='namefield'>Name: <input type='text' id='email' value='{{ user_info['name'] }}' /></div>
        <div class='emailfield'>Email: {{ user_info['email'] }}</div>

    </div>
Your active DIDs: (Click number to access messaging)
<ul>
    {% for item in dids %}
        <li><a href='/single/{{ item[0] }}'>{{ item[0] }}</a></li>
    {% endfor %}
</ul>
</div>
    {% include 'include/footer.html' %}
