{% include 'include/header.html' %}
<title> {{ account_info.1 }}'s Settings </title>
<script type="text/javascript">
  $("document").ready(function() {
    $("#submitpw").click(function() {
      checkPasswd();
    });
  });
</script>
</head>
{% include 'include/navblock.html' %}
<h1>Settings for {{ account_info.1 }}!</h1>

<div id='body'>
  <div id='accountInfoBlock'>
    <div class='namefield'>Name: <input type='text' id='email' value='{{ account_info.1 }}' /></div>
    <div class='emailfield'>Email: {{ account_info.2 }}</div>
    <div class='creationTime'>Account created on {{ account_info.4 }}</div>
  </div>
  <div id='passwdForm'>
    <div class='largeField'>
      <h3>Password</h3>
    </div>
    <div class='passwd'>Corrent Password: <input type='password' id='passwdzero' /></div>
    <div class='passwd'>Password: <input type='password' id='passwdone' /></div>
    <div class='passwd'>Confirm: <input type='password' id='passwdtwo' /></div>
    <div class='submit'><input type='button' id="submitpw" value="Update Password" /></div>
    <div id='status'></div>
  </div>
  Your active DIDs: (Click number to access messaging)
  <ul>
    {% for item in dids %}
    <li><a href='/single/{{ item[0] }}'>{{ item[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
{% include 'include/footer.html' %}
