{% include 'include/header.html' %}
    <title> {{ account_info.1 }}'s Settings </title>
    <script type="text/javascript">
    $("document").ready(function() {
        $( "#submitpw" ).click(function() {
          alert("HIII")
        });
    });
    </script>
</head>
{% include 'include/navblock.html' %}
<h1>Settings for {{ account_info.1 }}!</h1>

<div id='body'>
    <div id='accountInfoBlock'>
        <div class='uid'>User ID: {{ account_info.0 }}</div>
        <div class='uid'>User Name: {{ account_info['username'] }}</div>
        <div class='namefield'>Name: <input type='text' id='email' value='{{ account_info.1 }}' /></div>
        <div class='emailfield'>Email: {{ account_info.2 }}</div>
        <div class='creationTime'>Account created on {{ account_info.6 }}</div>
        <div class='largeField'><h3>Google Info</h3></div>
        <div class='googleID'>Google ID: {{ user_info.id }}</div>
    </div>
    <div id='passwdForm'>
      <div class='largeField'><h3>Local Password</h3></div>
      <div class='passwd'>Password: <input type='password' id='passwdone' /></div>
      <div class='passwd'>Confirm: <input type='password' id='passwdtwo' /></div>
      <div class='submitpw'><input type='button' id="submitpw" value="Update Password" /></div>
      <div id='status'></div>
    </div>
Your active DIDs: (Click number to access messaging)
<ul>
    {% for item in dids %}
        <li><a href='/single/{{ item[0] }}'>{{ item[0] }}</a></li>
    {% endfor %}
</ul>
</div>
    {% include 'include/footer.html' %}
