{% include 'include/header.html' %}
    <title> TheWords.faith Terms of Service Policy</title>
    <script type="text/javascript">
    $("document").ready(function() {

      });
    </script>
</head>
<body>
<div>
    <h1>Thewords.faith Terms of Service</h1>
    <p>This site is not to be used for 'for profit' ventures such as spam, robo texting, robo dialing, or any form of
    harassment or illegal contact.</p>
    <p>These services are not allowed to be resold without prior authorization from the site management. Any automation
    and programming code for this website must be provided to the public as this website and its code are opensource
    and we intend to stay opensource.</p>
    <p>That being said, I wont give up anything without a warrant and I don't log anything that doesn't help me debug.</p>
    <p>Thats why this system is hosted in italy. Happy texting!</p>
    <p>This is a developing project and these terms and conditions and features may change in the future.</p>
</div>
    {% include 'include/footer.html' %}
